@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');


*
{
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    font-family: 'poppins', sans-serif;

}
html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root
{
    --btn:#8343EB;
    --color:#fff;
    --shadow: 0 5px 5px 5px rgba(0,0,0,.5);
    --orange: orange;

}
body
{
    background-color: #93F9B9;
}
.main-container
{
            padding: 4rem;
            border-radius: 2rem;
}

.main-container .top-bg
{
    width:100%;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4rem;
   
    position:relative;
}
.main-container .top-bg .header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    padding:4rem 2%;
} 
.main-container .top-bg .header .logo a
{
    color:var(--color);
}
.main-container .top-bg .header .navbar
{
    display: flex;
    align-items: center;
   
}
.main-container .top-bg .header .navbar a img
{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
}
.main-container .top-bg .header .navbar a
{
    display: inline-block;
    color: var(--color);
    margin-right: 3rem;


}
.main-container .top-bg .header .navbar a:hover
{
    color: var(--orange);
}
.main-container .top-bg .header .navbar a:hover img
{
    border-color: var(--orange);
}
.main-container .top-bg .header .navbar .btn
{
    padding: 1.5rem 3rem;
    background-color: var(--btn);
    border-radius: 4rem;
}
.main-container .top-bg .header .navbar .btn:hover
{
    background-color: #8343eb42;
}

.main-container .top-bg .content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
}
.main-container .top-bg .content h1 
{
    color:white;
    font-size: 5rem;
}
.main-container .top-bg .content p
{
    font-size: 2.5rem;
    color: white;
}
.main-container .top-bg .footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    font-size: 1.7rem;
    position:relative;
    padding: 4rem 2%;

}
.main-container .top-bg .footer .name,.language
{
    color:var(--color);
}

.main-container .top-bg .footer .location
{
    background-color: var(--color);
    padding: 2rem;

    border-radius: 2rem;
    position:absolute;
    left: 50%;
    bottom: -50%;
    transform:translateX(-50%);
    display: flex;
    align-items:center;
    
    box-shadow: var(--shadow);
   
}
.main-container .top-bg .footer .location .location-box
{
    padding: 1rem 3rem;
     line-height: 1.8; 
    white-space: nowrap;

}
.main-container .top-bg .footer .location .location-box:nth-child(2),
.location-box:nth-child(3),
.location-box:nth-child(4)
{
    border-left: 2px solid rgba(0, 0, 0, .5);
}
.main-container .top-bg .footer .location .location-box i
{
    font-size: 4rem;
    color: white;
    background-color: var(--btn);
    padding: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}
.main-container .top-bg .footer .location .location-box p
{
    color: rgba(0, 0, 0, 0.5);
}


.main-container .top-bg .footer .location .location-box i:hover
{
    color: rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
}

.main-container .bottom-bg
{
    padding: 5rem 10%;
    margin-top: 10rem;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(32rem,1fr));
    gap: 2rem;
}

.main-container .bottom-bg .box img
{
    border-radius: 2rem;
}





@media (max-width:1200px)
{
    html
    {
        font-size:55%;
    }
}



@media (max-width:768px)
{
    .main-container .top-bg .header .navbar
    {
       flex-direction: column;
       margin-right: -1rem;
      
    }
    .main-container .top-bg .header .navbar a
    {
        margin-bottom: 1rem;
    }
    .main-container .top-bg .header .navbar .btn
    {
        display: none;
    }
    .main-container .top-bg .header
    {
        padding:3rem 2rem;
    }
    .main-container .top-bg .footer .location
    {     
        display: none;
    }
    .main-container .top-bg .content
    {
        padding: 3rem 2rem ;
    }
    .main-container .bottom-bg
    {
        padding: 0;
    }
    .main-container .bottom-bg .box img
    {
        width:100%;
        padding: 0;
    }

}



@media (max-width:450px)
{
    html
    {
        font-size:50%;
    }
}


